.container {
  width: 100%;
}

.banner-container {
  height: 70rem;
  position: relative;

  @media (max-width: 1800px) {
    height: 66rem;
  }

  @media (max-width: 1500px) {
    height: 58rem;
  }

  @media (max-width: 1000px) {
    height: 50rem;
  }

  @media (max-width: 800px) {
    height: 43rem;
  }
}

.title {
  position: absolute;
  top: 50%;

  @media (max-width: 1500px) {
    top: 55%;
  }
}

.desc {
  position: absolute;
  top: 65%;
  width: 75%;

  @media (max-width: 1500px) {
    top: 69%;
  }

  @media (max-width: 1000px) {
    width: 90%;
  }

  @media (max-width: 800px) {
    top: 72%;
  }
}
