.container {
  width: 100%;
  height: 70rem;
  position: relative;
}

.title {
  position: absolute;
  left: 12rem;
  top: 50%;
}

.desc {
  font-size: var(--font-xl);
  position: absolute;
  left: 12rem;
  top: 65%;
  width: 75%;
}
