.container {
  background-color: var(--color-grey-dark);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10rem 0;

  @media (max-width: 1800px) {
    padding: 6rem 0;
  }
}

.logo-container {
  display: flex;
  gap: 4rem;
  align-items: center;

  @media (max-width: 1500px) {
    gap: 3rem;
  }
}

.logo {
  width: 15rem;

  @media (max-width: 1500px) {
    width: 10rem;
  }
}

.name {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.4rem;

  @media (max-width: 1800px) {
    font-size: 4rem;
  }

  @media (max-width: 1500px) {
    font-size: 3.4rem;
  }
}

.copyright {
  padding-top: 10rem;
  font-size: 1.4rem;
  margin-left: 14rem;

  @media (max-width: 1800px) {
    margin-left: 8rem;
    padding-top: 8rem;
  }

  @media (max-width: 1500px) {
    margin-left: 4rem;
    padding-top: 6rem;
  }
}

.links-container {
  display: flex;
  gap: 8rem;
  justify-content: flex-end;
}

.ul-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--font-med);

  @media (max-width: 1800px) {
    font-size: var(--font-small);
  }
}

.ul-container > :first-child {
  font-size: var(--font-xl);
  font-weight: 500;

  @media (max-width: 1800px) {
    font-size: var(--font-large);
  }
}
