.container {
  width: 100vw;
  padding: 4rem 14rem;
  position: fixed;
  z-index: 200;
  background-color: white;
  transition: all 0.3s;
}

.nav-links-ul {
  display: flex;
  align-items: center;
  position: relative;

  li {
    font-size: var(--font-xl);
  }
}

.nav-links-left {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.nav-links-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.picture {
  width: 12rem;
  height: auto;
}

.nav-links-right {
  margin-left: auto;
  display: flex;
  gap: 7rem;
}

.link {
  color: var(--color-blue-med);
}

.link:hover {
  color: black;
}

.link-active {
  color: black;
}
