.container {
  width: 100vw;
  height: 100%;
  // background-color: lightcoral;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: 2px solid black;
  padding-bottom: 2rem;
}

.picture {
  width: 4rem;
  height: 4rem;
}

.title {
  font-size: 4rem;
}

.nav-links-ul {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  border-bottom: 2px solid black;

  li {
    font-size: 2rem;
  }
}

// .container {
//   width: 100vw;
//   height: 100%;
//   //   background-color: lightcoral;
// }

// .name {
//   font-size: 4.8vw;
//   text-align: center;
//   padding: 2rem 0;
//   border-bottom: 2px solid black;
// }

// .nav-links-ul {
//   display: flex;
//   align-items: center;
//   padding: 2rem;
//   border-bottom: 2px solid black;
//   position: relative;
//   //   background-color: lightblue;

//   li {
//     font-size: 2.6rem;
//   }
// }

// .nav-links-left {
//   display: flex;
//   align-items: center;
//   gap: 3rem;
//   //   background-color: green;
// }

// .picture {
//   width: 5rem;
//   height: auto;
// }

// .nav-links-right {
//   margin-left: auto;
// }
