.container {
  width: 100vw;
  height: 100%;
}

.nav-links-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  // border-bottom: 2px solid black;
  // position: relative;
  // background-color: lightblue;

  li {
    font-size: 2rem;
  }
}

.picture {
  width: 5rem;
  height: auto;
}

.nav-links-right {
  display: flex;
  gap: 3rem;
}
