.container {
  width: 100%;
  //   background-color: lavenderblush;
}

.services-container {
  // background-color: peachpuff;
  display: flex;
  padding: 20rem 4rem;
}

.picture-container {
  width: 60%;
  height: 110rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text-container {
  width: 50%;
  display: flex;

  align-items: center;
  // background-color: lavender;

  h3 {
    font-size: 4rem;
  }

  li {
    font-size: 3.6rem;
    color: palevioletred;
  }
}

.text-container-center {
  // background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}

.guarantee-container {
  display: flex;
  padding: 0 4rem 20rem 4rem;
}

.guarantee-text-container {
  width: 25%;
}

.guarantee {
  font-size: 4.6rem;
}

.guarantee-list {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, minmax(20%, 24%));
  column-gap: 4rem;
}

.guarantee-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }

  p {
    font-size: 3rem;
  }
}
