.container {
  // background-color: palevioletred;
  padding: 10rem;
  //   width: 80%;
  //   margin: 0 auto;
}

.text {
  font-size: 4.6rem;
  width: 65%;
  margin-left: auto;
  //   text-align: center;
}
