.container {
  width: 100vw;
  padding: 4rem 14rem;
  position: fixed;
  z-index: 200;
  transition: all 0.3s;
  // background-color: white;
}

.container-scrolled {
  background-color: white;
  transition: all 0.3s;
  width: 100%;
}

.nav-links-ul {
  display: flex;
  align-items: center;

  position: relative;
  //   background-color: lightblue;

  li {
    font-size: 2.4rem;
  }
}

.nav-links-left {
  display: flex;
  align-items: center;
  gap: 7rem;

  // background-color: green;
}

.nav-links-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.picture {
  width: 12rem;
  height: auto;
}

.nav-links-right {
  margin-left: auto;
  display: flex;
  gap: 7rem;
  // background-color: green;
}

.link {
  // color: white;
  color: #8cbafa;
}

.link-scrolled {
  color: #8cbafa;
}

.link:hover {
  color: black;
}

.link-active {
  color: black;
}
