.container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 20rem 0;
}

.title-container {
  padding: 0 14rem;
  color: var(--color-blue-dark);

  @media (max-width: 1800px) {
    padding: 0 8rem;
  }

  @media (max-width: 1400px) {
    padding: 0 4rem;
  }
}

.guarantee-item {
  background-color: var(--color-blue-dark);
  padding: 4rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.guarantee-title {
  height: 100%;
  color: white;
}

.guarantee-desc {
  height: 50%;
  color: white;
}

.button {
  align-self: start;
  margin-left: 14rem;

  @media (max-width: 1800px) {
    margin-left: 8rem;
  }

  @media (max-width: 1400px) {
    margin-left: 4rem;
  }
}
