.container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 20rem 0;

  @media (max-width: 1800px) {
    padding: 15rem 0;
  }

  @media (max-width: 1500px) {
    padding: 10rem 0;
  }

  @media (max-width: 1000px) {
    padding: 8rem 0;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 14rem;
  color: var(--color-blue-dark);

  @media (max-width: 1800px) {
    padding: 0 8rem;
  }

  @media (max-width: 1500px) {
    padding: 0 4rem;
  }

  @media (max-width: 1000px) {
    padding: 0 2rem;
  }
}

.guarantee-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(20%, 24%));
  column-gap: var(--gutter-column-xl);

  @media (max-width: 1800px) {
    column-gap: var(--gutter-column-large);
  }

  @media (max-width: 1500px) {
    column-gap: var(--gutter-column-med);
  }

  @media (max-width: 1000px) {
    column-gap: var(--gutter-column-small);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, minmax(40%, 48%));
    row-gap: var(--gutter-row-small);
  }

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.guarantee-item {
  background-color: var(--color-blue-dark);
  padding: 4rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @media (max-width: 1800px) {
    padding: 3rem;
    gap: 4rem;
  }

  @media (max-width: 1500px) {
    padding: 2rem;
    gap: 2rem;
    height: 30rem;
  }

  @media (max-width: 1000px) {
    height: 26rem;
  }

  @media (max-width: 800px) {
    height: 26rem;
    padding: 4rem;
  }

  @media (max-width: 500px) {
    padding: 2rem;
  }
}

.guarantee-title {
  height: 100%;
  color: white;
}

.guarantee-desc {
  height: 50%;
  color: white;
}

.button {
  align-self: start;
  margin-left: 14rem;

  @media (max-width: 1800px) {
    margin-left: 8rem;
  }

  @media (max-width: 1500px) {
    margin-left: 4rem;
  }

  @media (max-width: 1000px) {
    margin-left: 2rem;
  }
}
