.container {
  height: 100vh;
  position: relative;
}

.text-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: 1500px) {
    width: 80%;
    gap: 3rem;
  }

  @media (max-width: 1000px) {
    width: 90%;
    transform: translate(-50%, -50%);
  }
}

.header {
  font-weight: 700;
  color: var(--color-blue-med);
  text-shadow: 1px 1px 14px rgba(0, 0, 0, 0.832);
}

.subheader {
  font-weight: 500;
  color: var(--color-grey-light);
  text-shadow: 1px 1px 14px rgba(0, 0, 0, 0.832);
  padding-bottom: 4rem;

  @media (max-width: 1500px) {
    padding-bottom: 0;
  }
}

.picture-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(145%);
}

.arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  z-index: 4000;
  transform: translateX(-50%);
}

.icon {
  width: 5rem;
  height: 5rem;
  color: var(--color-blue-light);
}

.overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.504),
    rgba(0, 0, 0, 0.105) 20%,
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
