.container {
  width: 100%;
  height: 100%;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--font-h1-xl);
  padding: 20rem 14rem 4rem 14rem;
  color: var(--color-blue-dark);
}

.header-picture {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.treatment-container {
  padding: 10rem 0;
  color: var(--color-blue-dark);
}

.treatment-container:nth-child(even) {
  background-color: var(--color-blue-light);
  color: var(--color-grey-dark);
}

.treatment-picture {
  img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
  }
}

.treatment-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h3 {
    font-size: var(--font-h3-xl);
  }

  p {
    font-size: var(--font-xl);
    line-height: var(--line-height-xl);
  }
}
