.container {
  background-color: var(--color-grey-light);
  color: var(--color-grey-dark);
}

.treatment-item:nth-child(even) {
  flex-direction: row-reverse;
  background-color: var(--color-blue-med);
  color: white;
}
