.container {
  // background-color: lavenderblush;
  width: 100%;
  height: 100%;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
}

// .header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   position: relative;
//   background-color: var(--color-blue-light);
//   h1 {
//     font-size: var(--font-h1-xl);
//     position: absolute;
//     bottom: 0rem;
//     right: 2rem;
//     color: var(--color-blue-dark);
//   }
// }

.title {
  font-size: var(--font-h1-xl);
  padding: 20rem 4rem 4rem 4rem;
  color: var(--color-blue-dark);
}

.header-picture {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.treatment-container {
  // display: flex;
  // gap: 10rem;
  // padding: 10rem 4rem;
  padding: 10rem 0;

  color: var(--color-blue-dark);
}

.treatment-container:nth-child(even) {
  background-color: var(--color-blue-light);
  color: var(--color-grey-dark);
}

.treatment-picture {
  // width: 30%;

  img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
  }
}

.treatment-text {
  // width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h3 {
    font-size: var(--font-h3-xl);
  }

  p {
    font-size: var(--font-xl);
    line-height: var(--line-height-xl);
  }
}
