.container {
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue-med);
  color: var(--color-grey-dark);
}

// .contact-container {
//   background-color: pink;
//   padding: 10rem 0;
// }

.text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    font-size: var(--font-h1-xl);
  }

  h4 {
    font-size: var(--font-h4-xl);
    line-height: var(--line-height-h4-xl);
  }

  p {
    font-size: var(--font-xl);
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.map {
  border: none;
  width: 100%;
  height: 60rem;
}
