.container {
  //   background-color: pink;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
}

.header {
  padding: 20rem 6rem 4rem 4rem;
}

.title {
  font-size: var(--font-h1-xl);
  color: var(--color-blue-dark);
}

.doctor-container {
  display: flex;
  gap: 5rem;
  padding: 10rem 0;
  background-color: var(--color-blue-light);
}

.doctor-container + .doctor-container {
  background-color: white;
  color: var(--color-grey-dark);
}

.text-container {
  // width: 70%;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h3 {
    font-size: var(--font-h3-xl);
  }

  h4 {
    font-size: var(--font-h4-xl);
  }

  p {
    font-size: var(--font-large);
  }
}

.intro {
  display: flex;
  flex-direction: column;
}

.pic-container {
  // width: 30%;
}

.picture {
  width: 100%;
  height: 60rem;
  object-fit: cover;
}

.row {
  width: var(--row-width);
  background-color: pink;
  display: flex;
}

.col-1-of-4 {
  width: var(--col-1-of-4);
  background-color: palegreen;
}
.col-2-of-4 {
  width: var(--col-2-of-4);
  background-color: navy;
}
