.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  // background-color: var(--color-blue-light);
}

.doctor-container {
  padding: 10rem 0;
  color: var(--color-grey-dark);
}

// .doctor-container + .doctor-container {

// }

.text-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h3 {
    font-size: var(--font-h3-xl);
  }

  h4 {
    font-size: var(--font-h4-xl);
  }

  p {
    font-size: var(--font-large);
    line-height: var(--line-height-large);
  }
}

.intro {
  display: flex;
  flex-direction: column;
}

.picture {
  width: 100%;
  height: 70rem;
  object-fit: cover;
}
