.container {
  color: var(--color-blue-dark);
}

.treatment-item:nth-child(odd) {
  flex-direction: row-reverse;
  background-color: var(--color-blue-light);
  color: var(--color-grey-dark);
}

.link-container {
  align-self: start;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  width: 3rem;
  height: 3rem;
}
