.container {
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
}

.header {
  padding: 20rem 4rem 4rem 4rem;
}

.title {
  font-size: var(--font-h1-xl);

  color: var(--color-blue-dark);
}

.subtitle {
  font-size: var(--font-xl);
  color: var(--color-grey-dark);
}

.treatment-container {
  // display: flex;
  // gap: 10rem;
  padding: 10rem 0;
  color: var(--color-blue-dark);
}

.treatment-container:nth-child(even) {
  background-color: var(--color-blue-light);
  color: var(--color-grey-dark);
}

.treatment-picture {
  // width: 30%;

  img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
  }
}

.treatment-text {
  // width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h3 {
    font-size: var(--font-h3-xl);
  }

  p {
    font-size: var(--font-xl);
    line-height: var(--line-height-xl);
  }
}

.link {
  font-size: var(--font-xl);
  line-height: var(--line-height-xl);
  color: inherit;
}

.link:hover {
  color: red;
}
