.container {
  width: 100%;
  height: 100%;
}

.video-section {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background-color: var(--color-blue-light);
  padding: 20rem 0 10rem 0;
}

.title {
  color: var(--color-grey-dark);
  text-align: center;
}

.videos-container {
  background-color: var(--color-blue-light);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(27%, 33%));
  justify-content: space-between;
  column-gap: var(--gutter-column-xl);
  row-gap: 10rem;

  @media (max-width: 1800px) {
    column-gap: var(--gutter-column-large);
    row-gap: 8rem;
  }

  @media (max-width: 1500px) {
    column-gap: var(--gutter-column-med);
    row-gap: 5rem;
  }
}

.video-item {
  // background-color: lightcyan;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 1500px) {
    gap: 1rem;
  }
}

.video-picture {
  width: 100%;
  height: 30rem;

  @media (max-width: 1500px) {
    height: 23rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-details {
  p {
    font-size: var(--font-xxl);

    @media (max-width: 1500px) {
      font-size: var(--font-xl);
    }
  }
}

.article-section {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  background-color: var(--color-grey-light);
  padding: 10rem 0;
}

.articles-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.article-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gutter-column-xl);
}

.article-details {
  width: 50%;
}

.article-picture {
  height: 20rem;
  width: 50%;

  @media (max-width: 1500px) {
    height: 16rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
