:root {
  --color-blue-dark: #3f5471;
  --color-blue-med: #8cbafa;
  --color-blue-light: #bad6fc;
  --color-blue-extra-light: #eaf3fe;

  --color-grey-dark: #262626;
  --color-grey-med: #c0c0c0;
  --color-grey-light: #f2f2f2;

  --color-orange-dark: #cba671;
  --color-orange-med: #facc8c;
  --color-orange-light: #fce0ba;
  --color-orange-extra-light: #fef0dd;

  --font-xxl: 3rem;
  --font-xl: 2.4rem;
  --font-large: 2rem;
  --font-med: 1.6rem;
  --font-small: 1.4rem;

  --line-height-xl: 3.4rem;
  --line-height-large: 2.6rem;

  --grid-width-xl: calc(100% - 28rem);
  --grid-width-large: calc(100% - 16rem);
  --grid-width-med: calc(100% - 8rem);

  --gutter-row-xl: 6rem;
  --gutter-row-large: 5rem;
  --gutter-row-med: 4rem;

  --gutter-column-xl: 10rem;
  --gutter-column-large: 8rem;
  --gutter-column-med: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  font-size: 62.5%;
  background-color: white;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.h1 {
  font-size: 8rem;

  @media (max-width: 1800px) {
    font-size: 7rem;
    line-height: 8rem;
  }

  @media (max-width: 1500px) {
    font-size: 6rem;
  }
}

.h2 {
  font-size: 6rem;

  @media (max-width: 1800px) {
    font-size: 5rem;
  }

  @media (max-width: 1500px) {
    font-size: 4.6rem;
    line-height: 5.4rem;
  }
}

.h3 {
  font-size: 4.4rem;

  @media (max-width: 1800px) {
    font-size: 4rem;
  }

  @media (max-width: 1500px) {
    font-size: 3.8rem;
    line-height: 4.2rem;
  }
}

.h4 {
  font-size: 3.6rem;
  line-height: 4rem;

  @media (max-width: 1800px) {
    font-size: 3.4rem;
  }

  @media (max-width: 1500px) {
    font-size: 3rem;
    line-height: 3.4rem;
  }
}

.main-text {
  font-size: 2.4rem;
  line-height: 3rem;

  @media (max-width: 1800px) {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  @media (max-width: 1500px) {
    font-size: 2rem;
  }
}

.link {
  border: none;
  padding: 2rem 3rem;
  background-color: var(--color-orange-med);
  color: black;
  font-size: var(--font-xl);
  border-radius: 5px;
  transition: all 0.3s;

  @media (max-width: 1800px) {
    font-size: var(--font-large);
  }
}

.link:hover {
  cursor: pointer;
  background-color: var(--color-blue-dark);
  transition: all 0.3s;
}

.row {
  width: var(--grid-width-xl);
  margin: 0 auto;

  @media (max-width: 1800px) {
    width: var(--grid-width-large);
  }

  @media (max-width: 1500px) {
    width: var(--grid-width-med);
  }

  &:not(:last-child) {
    margin-bottom: var(--gutter-row-xl);
  }

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: var(--gutter-column-xl);

      @media (max-width: 1800px) {
        margin-right: var(--gutter-column-large);
      }

      @media (max-width: 1500px) {
        margin-right: var(--gutter-column-med);
      }
    }
  }
}

.col-1-of-2 {
  width: calc((100% - var(--gutter-column-xl)) / 2);

  @media (max-width: 1800px) {
    width: calc((100% - var(--gutter-column-large)) / 2);
  }

  @media (max-width: 1500px) {
    width: calc((100% - var(--gutter-column-med)) / 2);
  }
}

.col-1-of-3 {
  width: calc((100% - 2 * var(--gutter-column-xl)) / 3);

  @media (max-width: 1800px) {
    width: calc((100% - 2 * var(--gutter-column-large)) / 3);
  }

  @media (max-width: 1500px) {
    width: calc((100% - 2 * var(--gutter-column-med)) / 3);
  }

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.col-2-of-3 {
  width: calc(
    2 * ((100% - 2 * var(--gutter-column-xl)) / 3) + var(--gutter-column-xl)
  );

  @media (max-width: 1800px) {
    width: calc(
      2 * ((100% - 2 * var(--gutter-column-large)) / 3) +
        var(--gutter-column-large)
    );
  }

  @media (max-width: 1500px) {
    width: calc(
      2 * ((100% - 2 * var(--gutter-column-med)) / 3) + var(--gutter-column-med)
    );
  }

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.col-1-of-4 {
  width: calc((100% - 3 * var(--gutter-column-xl)) / 4);

  @media (max-width: 1800px) {
    width: calc((100% - 3 * var(--gutter-column-large)) / 4);
  }

  @media (max-width: 1500px) {
    width: calc((100% - 3 * var(--gutter-column-med)) / 4);
  }
}

.col-2-of-4 {
  width: calc(
    2 * ((100% - 3 * var(--gutter-column-xl)) / 4) + var(--gutter-column-xl)
  );

  @media (max-width: 1800px) {
    width: calc(
      2 * ((100% - 3 * var(--gutter-column-large)) / 4) +
        var(--gutter-column-large)
    );
  }

  @media (max-width: 1500px) {
    width: calc(
      2 * ((100% - 3 * var(--gutter-column-med)) / 4) + var(--gutter-column-med)
    );
  }
}

.col-3-of-4 {
  width: calc(
    3 * ((100% - 3 * var(--gutter-column-xl)) / 4) + 2 * var(--gutter-column-xl)
  );

  @media (max-width: 1800px) {
    width: calc(
      3 * ((100% - 3 * var(--gutter-column-xl)) / 4) + 2 *
        var(--gutter-column-large)
    );
  }

  @media (max-width: 1500px) {
    width: calc(
      3 * ((100% - 3 * var(--gutter-column-xl)) / 4) + 2 *
        var(--gutter-column-med)
    );
  }
}
