:root {
  --color-blue-dark: #465d7d;
  --color-blue-med: #8cbafa;
  --color-blue-light: #bad6fc;

  --color-grey-dark: #262626;
  --color-grey-med: #c0c0c0;
  --color-grey-light: #f2f2f2;

  --font-h1-xl: 8rem;
  --font-h2-xl: 6rem;
  --font-h3-xl: 4.4rem;
  --font-h4-xl: 3.6rem;

  --line-height-h4-xl: 4rem;

  --font-xl: 2.4rem;
  --font-large: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  font-size: 62.5%;
  background-color: white;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
